{{- /*
// Copyright 2024 Google LLC
//
// Licensed under the Apache License, Version 2.0 (the "License");
// you may not use this file except in compliance with the License.
// You may obtain a copy of the License at
//
//      http://www.apache.org/licenses/LICENSE-2.0
//
// Unless required by applicable law or agreed to in writing, software
// distributed under the License is distributed on an "AS IS" BASIS,
// WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
// See the License for the specific language governing permissions and
// limitations under the License.
*/ -}}
<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<APIProxy revision="1" name="hello-world">
  <DisplayName>{{ .DisplayName }}</DisplayName>
  <Description>{{ .Description }}</Description>
  <CreatedAt>{{.CreatedAt}}</CreatedAt>
  <LastModifiedAt>{{.LastModified}}</LastModifiedAt>
  <BasePaths>{{(index .ProxyEndpoints 0).BasePath}}</BasePaths>
  {{ if .Policies }}
  <Policies>
    {{- range .Policies }}
    <Policy>{{.Name}}</Policy>
    {{- end }}
  </Policies>
  {{- else }}
  <Policies />
  {{- end }}

  {{ if .ProxyEndpoints }}
  <ProxyEndpoints>
    {{- range .ProxyEndpoints }}
    <ProxyEndpoint>{{ .Name }}</ProxyEndpoint>
    {{- end }}
  </ProxyEndpoints>
  {{- else }}
  <ProxyEndpoints />
  {{- end}}

  {{ if .TargetEndpoints }}
  <TargetEndpoints>
    {{- range .TargetEndpoints }}
    <TargetEndpoint>{{ .Name }}</TargetEndpoint>
    {{- end }}
  </TargetEndpoints>
  {{- else }}
  <TargetEndpoints />
  {{- end }}
</APIProxy>